:host {
    display:flex;
    flex-direction: column;
    padding: 15px;
    height: calc(100vh-30px);
    width: calc(100vw-30px);
}

h4 {
    margin: 0;
}

.mainModifyform {
    margin-top: 16px;
}

.accountModifyform {
    margin-top: 16px;
}

.form-group {
    margin-bottom: 1rem;
    input {
        width: 100%;
        line-height: 1.5rem;
        border-radius: 5px;
        border: 0;
        outline: 1px solid black;
    }
    input:focus {
        outline: 1px solid lightcoral;
    }

    .alert {
        color: red;
        font-size: smaller;
    }
}

.btns {
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 100px;
    border-radius: 5px;
    height: 1.5rem;
    border: 0;
    cursor: pointer;
    &-primary {
        background-color:lightcoral;
    }

    &-secondary {
        background-color:aquamarine;
    }
    &-action {
        margin: 5px;
    }
}

@keyframes move_from_right {
    0% {
      transform: translateX(40rem);
    }
  
    100% {
      transform: translateX(0);
    }
}

@keyframes move_from_right {
    0% {
      transform: translateX(40rem);
    }
  
    100% {
      transform: translateX(0);
    }
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    .info {
        padding: 15px;
        width: 500px;
        border: 1px solid black;
    }
    .info-panel {
        padding: 15px;
        width: 500px;
        border: 1px solid black;
        animation: move_from_right 2s; 
    }
    
}

.accounts-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .account-info {
        padding: 15px;
        width: 500px;
        border: 1px solid black;

        table {
            border-spacing: 0;
            width: 100%;
            margin-top: 16px;
        }
        
        td, th {
            border: 1px solid black;
        }

        td {
            padding-inline-start: 5px;
        }

        .actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            min-width: 120px;

            span {
                text-align: center;
                width: 100%;
            }
        }
    }
    .account-panel {
        padding: 15px;
        width: 500px;
        border: 1px solid black;
        animation: move_from_right 2s; 
    }
}