<div class="main-info">
    <div class="info">
        <ng-container *ngIf="selectedUser$ | async as user">
            <h4>Main Information</h4>
            <p>Id: {{user.id}}</p>
            <p>User name: {{user.name}}</p>
            <p>User e-mail: {{user.email}}</p>
            <p>User password: {{changeToAsterics(user.password)}}</p>
            <hr>
            <div class="btns">
                <button type="button" class='btn btn-primary' (click)="toggleMainModify(); setCurrentUser(user);">Change</button>
            </div>
        </ng-container>
    </div>

    <div class="info-panel" *ngIf="mainModify">
            <h4>Main Information</h4>
            <div class="mainModifyform" >
                <form novalidate (ngSubmit)='onSubmitMain(mainModifyForm)' #mainModifyForm="ngForm">
                    <div class="form-group">
                        <input type="text" name="name" required autocomplete="off" placeholder="User name"
                        [(ngModel)]='currentUser.name'
                        ngModel #name = 'ngModel' class="form-control"
                        >
                        <div class="alert" [hidden]='name.valid || name.pristine'>
                            Please enter your name
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" required autocomplete="off" placeholder="E-mail"
                        [(ngModel)]='currentUser.email'
                        ngModel #email = 'ngModel' class="form-control">
                        <div class="alert" [hidden]='email.valid || email.pristine'>
                            Please enter correct email
                        </div>
                    </div>
                    <div class="form-group">
                        <input [type]="type" 
                        pattern="^(?=.*\d).{8,}$"
                        name="password" required autocomplete="off" placeholder="User password"
                        [(ngModel)]='currentUser.password'
                        ngModel #password = 'ngModel' class="form-control"
                        (click)="togglePasswordInput()" (blur)="clearToggle()">
                        <div class="alert" [hidden]='password.valid || password.pristine'>
                            Min 8 characters and at least 1 or all numbers
                        </div>
                    </div>
                    <div class="btns">
                        <button [disabled]='mainModifyForm.invalid' type="submit" class='btn btn-secondary'>Save</button>
                        <button type="button" class='btn btn-primary' (click)="toggleMainModify()">Cancel</button>
                    </div>
                </form>
            </div>
    </div>
</div>
<div class="accounts-info">
    <div class="account-info" *ngIf="selectedUser$ | async as user">
        <h4>Accounts Information</h4>
        <table *ngIf="user.accounts && user.accounts.length && user.accounts.length>0">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let account of user.accounts">
                <td>{{account.accountId}}</td>
                <td>{{account.accountName}}</td>
                <td>{{changeToAsterics(account.accountPassword)}}</td>
                <td class="actions">
                    <ng-container *ngIf="account.accountId != deleteId">
                        <button type="button" class='btn btn-primary btn-action' (click)="deleteAccountQuestion(account.accountId)">Delete</button>
                        <button type="button" class='btn btn-secondary btn-action' (click)="allowModify(account)">Modify</button>
                    </ng-container>
                    <ng-container *ngIf="account.accountId === deleteId">
                        <span>Are your sure???</span>
                        <br>
                        <button type="button" class='btn btn-primary btn-action' (click)="deleteAccount(account.accountId)">Delete</button>
                        <button type="button" class='btn btn-secondary btn-action' (click)="cancelDelete()">Cancel</button>
                    </ng-container>
                </td>
            </tr>
        </table>
        <hr>
        <div class="btns">
            <button type="button" class='btn btn-primary' (click)="toggleAccountModify()">Add account</button>
        </div>
    </div>
    <div class="account-panel" *ngIf="accountModify">
        <h4>Accounts Information</h4>
        <div class="accountModifyform">
            <form novalidate (ngSubmit)='onSubmitAccount(accountModifyForm)' #accountModifyForm="ngForm">
                <div class="form-group">
                    <input type="text" name="accountName" required autocomplete="off" placeholder="Account name"
                    [(ngModel)]='account.accountName'
                    ngModel #accountName = 'ngModel' class="form-control">
                    <div class="alert" [hidden]='accountName.valid || accountName.pristine'>
                        Please enter account name
                    </div>
                </div>
                <div class="form-group">
                    <input [type]="type" 
                    pattern="^(?=.*\d).{8,}$"
                    name="accountPassword" required autocomplete="off" placeholder="Account password"
                    [(ngModel)]='account.accountPassword'
                    ngModel #accountPassword = 'ngModel' class="form-control"
                    (click)="togglePasswordInput()" (blur)="clearToggle()">
                    <div class="alert" [hidden]='accountPassword.valid || accountPassword.pristine'>
                        Min 8 characters and at least 1 or all numbers
                    </div>
                </div>
                <div class="btns">
                    <ng-container *ngIf="isModify">
                        <button [disabled]='accountModifyForm.invalid' type="button" class='btn btn-secondary' (click)="modifyAccount(accountModifyForm)">Update</button>  
                    </ng-container>
                    <ng-container *ngIf="!isModify">
                        <button [disabled]='accountModifyForm.invalid' type="submit" class='btn btn-secondary'>Save</button>
                    </ng-container>
                    <button type="button" class='btn btn-primary' (click)="toggleAccountModify()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>